
.pagination{
    margin:1rem 0;
    padding:1rem 0;
    @include flex-center;
    gap:10px;
    .page{
        color:$text-color;
        display:block;
        padding:3px 8px;
        background:white;
        box-shadow: 0 1px 0 rgba(black, .5);
        transition: all .2s ease;
        cursor:pointer;
        &:hover, &.active{
            color:$primary-color;
            box-shadow: 0 3px 0 $primary-color;
        }
        &.active{
            font-weight:bold;
        }
        &.arrow{box-shadow: none!important;}
    }
}