.toast-box{
    position:fixed;
    z-index:2000;
    bottom:15px;
    //Center
    left:50%;
    transform:translateX(-50%);
    background:rgba(black, .5);
    border-radius:5px;
    padding:10px;
    text-align:center;
    display:none;
    color:white;
    box-shadow: 1px 1px 3px rgba(black, .3);
    text-shadow: 1px 1px 1px rgba(black, .4);

    &.success{
        background: #22c55d;
    }
    &.error{
        background: #eb5757;
    }
    &.warning{
        background:rgb(230, 149, 0);
    }
    &.info{
        background:white;
        color: black;
        text-shadow: none;
    }
}